:root{
    --main-font:'Inter','Lato','Rubik', sans-serif;
    --font-size:16px;
    --main-color: #ffff;
    --second-color: #222;
    --container-width:1200px;
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior:smooth;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    color: white;
    padding: 15px 0px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 999;
}
.header-items{
    display: flex;
    justify-content: space-around;
}
.btn{
    background-color: white;
    color: black;
    font-size: 10px;
    border-radius: 10%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.buttons{
    justify-content: space-around;
}
.main-text{
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: center;
    margin-top: 96px;
    position: fixed;
    background-color: white;
    z-index: 999;
}
.images-container{
    margin-bottom: 20px;
}
.images{
    margin:0px 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    column-gap: 24px !important;
    row-gap: 20px !important;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0%;
    grid-column-gap: 3%;
    padding-top: 150px;
    padding-bottom: 50px;
}
.content-images{
    border-radius: 12px;
    width: 96%;
    height: 90%;
    opacity: 1;
}
.content-overlay-wrap {
    position: relative;
    overflow: hidden;
  }

  .content-overlay-wrap img{
      width: 100%;
      height: auto;
  }


  .content-overlay-wrap .content-overlay {
    background: rgba(56, 56, 56, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 12px;
  }

  .content-overlay-wrap:hover .content-overlay{
    opacity: 1;
  }
  .btn-image{
    background-color: crimson;
    color: white;
    border-radius: 12px;
    padding: 13px;
    font-weight: 700;
    border: none;
    font-size: 14px;
}
   .content-overlay-wrap .btn-image{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .content-overlay-wrap:hover .btn-image{
      opacity: 1;
  }
  #bottom-img,
  #bottom-img-2{
        width: 25px;
        height: 25px;
        padding: 5px;
}
.content-overlay-wrap #bottom-img{
    position: absolute;
    bottom: 5%;
    right: 25%;
    opacity: 0;
    background-color: white;
    border-radius: 50%;
}
.content-overlay-wrap #bottom-img-2{
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    background-color: white;
    border-radius: 50%;
}
.content-overlay-wrap:hover #bottom-img{
    opacity: 1;
}
.content-overlay-wrap:hover #bottom-img-2{
    opacity: 1;
}

.icons{
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
    position: fixed;
    bottom: 30%;
    right: 10%;
    opacity: 84%;
}
.plus{
    bottom: 41%;
}
.nav-bar-header{
    display: none;
}
.footer{
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
.logo,
.nav-items img{
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 43%;
    cursor: pointer;
}
.nav-special:hover{
    background-color: rgb(216, 211, 211);
    border-radius: 50%;
    width: 53px;
    height: 45px;
    padding: 1px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    align-items: end;
    padding-left: 9px;
}


.home{
    font-size: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
.m-l{
    margin-left: 10px;
    display: none;
}
h3{
    font-size: 10px;
    cursor: pointer;
}
.nav-bar-footer{
    display: flex;
    align-items: center;
    z-index: 999;
    background-color: white;
    width: 100%;
    justify-content: space-around;
}
.nav-list{
    display: flex;
    list-style: none;
    display: none;
}

.search{
    background-color: rgba(245, 233, 233, 0.829);
    background-image: url(img/lupa.png);
    background-size: 13px;
    background-repeat: no-repeat;
    border-radius: 7px;
    font-size: 10px;
    margin-left: 10px;
    padding: 9px 19px;
    background-position: left;
    border: none;
    width: 40%;
}
@media only screen and (min-width:400px){
.logo{
    width: 35px;
    height: 35px;
    margin-right: 8px;
}
.search{
    width: 40%;
}
}
@media only screen and (min-width:500px){
    .nav-bar-header{
        margin: 0;
        padding-left: 10px;
        margin-top: 11px;
        display: flex;
        align-items: center;
        z-index: 999;
        background-color: white;
        width: 100%;
        justify-content: space-around;
        height: 110px;
    }
    .lupa{
        display: none;
    }
    .hoy{
        display: none;
        cursor: pointer;
    }
    .search{
        width: 50%;
    }
    .main-text{
        display: grid;
        grid-template-columns: 50% 40%;
        justify-content: center;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 10%;
    }


    .nav-list{
        display: flex;
        list-style: none;
        padding-left: 10px;
    }
    .nav-items{
        padding-right: 10px;
    }
    .nav-bar-footer{
        visibility: hidden;
    }
    .home{
        font-size: 12px;
        background-color: black;
        color: white;
    }
    .images-container {
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .content-images{
        width: 96%;
    }
    .images{
        grid-row-gap:0%;
        padding-top: 175px;
    }
    }
    @media only screen and (min-width:600px){
        h3{
            font-size: 15px;
        }
        .main-text{
            top: 11%;
        }
        .images{
            padding-top: 210px;
        }
        .btn{
            font-size: 12px;
        }
    }
    @media only screen and (min-width:700px){
        .btn{
            font-size: 13px;
        }
        .home{
            border-radius: 20px;
            font-size: 15px;
            padding: 13px;
        }
        .main-text{
            top: 13%;
        }
        .images{
            grid-template-columns: repeat(3, minmax(0px, 1fr));
            padding-top: 230px;
        }
        .nav-special:hover{
            width: 45px;
        }
    }
    @media only screen and (min-width:800px){
        .images{
            grid-template-columns: repeat(4, minmax(0px, 1fr));
            padding-top: 255px;
        }
        .main-text{
            margin-bottom: 10px;
            grid-template-columns: 52%;
        }
        .nav-items img {
            width: 20px;
            height: 20px;
        }
        .icons{
            bottom: 10%;
        }
        .plus{
            bottom: 20%;
        }
    }
    @media only screen and (min-width:900px){
        .images{
            padding-top: 230px;
        }
        .logo{
            width: 35px;
            height: 35px;
        }
        .nav-items img {
            width: 30px;
            height: 30px;
        }
        .hoy{
            display: flex;
            color: black;
            font-size: 15px;
            font-weight: bolder;
        }
        .search{
            font-size: 15px;
        }
        .mq-900{
            display: flex;
            justify-content: space-evenly;
        }
        .main-text{
            top: 10%;
        }
        .btn{
            margin-left: 20px;
        }
        h3{
            margin-left: 20px;
        }
    }
    @media only screen and (min-width:1000px){
    .images {
        grid-template-columns: repeat(5, minmax(0px, 1fr));
    }
}   
@media only screen and (min-width:1200px){
    .images {
        grid-template-columns: repeat(6, minmax(0px, 1fr));
    }
    .nav-bar-header{
        margin-top: 20px;
    }
    .icons{
        right: 5%;
    }
}   

